{% extends "./base.html" %}
{% block titleHead %}  {{title}} {% endblock %}
{% block titleBody %}  Bienvenu {{request.user}} {% endblock %}

{% block content-main %}

{% if request.user.is_authenticated %}
<form id="set_attribution" action="{% url 'gedci:accueil' %}" method="post" >
  {% csrf_token %}

  <select id="actions" name="actions">
    <option value="">---</option>
    {% for action in actions %}
    <option value="action-{{action.id}}">{{action}}</option>
    {% endfor %}
  </select>
  <select id="acteur" name="acteurs">
    <option value="">---</option>
    {% for acteur in acteurs %}
    <option value="acteur-{{acteur.id}}">{{acteur.first_name}} {{acteur.last_name}}</option>
    {% endfor %}
  </select>

  
  <button type="submit" id="ok">Action !</button>

  <table id="tdossiers" class="table table-striped">
    <tr>
      <th> # </th>
      <th>Choix</th>
      <th>Type</th>
      <th>NDossier</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Date de Naissance</th>
      <th>Etat</th>
      <th>Attribution</th>
    </tr>
    <!-- <tbody data-toggle="checkboxes" -->
    <!-- 	   data-range="true"> -->

      {% for d in data %}
      <tr>
	<td>{{forloop.counter}}</td>
	<td>
      	  <input type="checkbox" name="checkbox-{{d.id}}" value="{{d.id}}"></td>
	<td>{{d.typeDos}}</td>
	<td>
      	  <a href="https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/protected/cef/CF_VCA/afficherEtudiantPage.html?sctxid=1-b849d01a3e&rechercheRapide=tdue&numeroCompte={{d.numDos}}"> {{d.numDos}}</a>
	</td>
	<td>{{d.nomEtu}}</td>
	<td>{{d.prenomEtu}}</td>
	<td>{{d.dateNaisEtu}}</td>
	<td>{{d.etat}}</td>
	<td>{{d.attrib}}</td>
      </tr>
      {% endfor %}
    <!-- </tbody> -->
  </table>
</form>
{% else %}
Veuillez vous connectez.
{% endif %}
<script type="text/javascript">
  jQuery(function($) {
    $('#tdossiers').checkboxes('range', true);
});
</script>

{% endblock %}
