{% extends "./base_cdp.html" %}
{% block titleHead %}  {{title}} {% endblock %}

{% block content-main %}

{% if attributions|length == 0 %}
{{attUser}} n'a pas d'attributions. 
{% else %}

Attributions de {{attUser}}

<form id="set_attribution" action="{% url 'gedci:attributions_cdp' attUser.pk %}" method="post" >
  {% csrf_token %}
  <table id="tattributions" class="table table-striped">
    <tr>
      <th>
        <select id="nouveauEtat" name="nouveauEtat">
	  <option value="">---</option>
	  {% for action in actions %}
	  <option value="{{action.0}}">{{action.1}}</option>
	  {% endfor %}
	</select>
	<button type="submit" id="maj">M.à.j.</button>
	Attribution
      </th>
      <th>Dernière modification</th>
      <th>Dossier</th>
      <th>Nom</th>
      <th>Etat du dossier</th>
    </tr>

    {% for att in attributions %}
    <tr>
      <td>
      	<input type="checkbox" name="checkbox-att{{att.id}}" value="{{att.id}}">
	<span>{{att.action}}</span>
      </td>
      <td title={% if att.dateCrea != att.dateModif %}
	  "Attribué le {{att.dateCrea}}">
	  {% else %}
	  "">
	  {% endif %}
	  {{att.dateModif}}</td>
      <td>
      	<a href="https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/protected/cef/CF_VCA/afficherEtudiantPage.html?sctxid=1-b849d01a3e&rechercheRapide=tdue&numeroCompte={{att.dossier.numDos}}"> {{att.dossier.numDos}}</a> 
      </td>
      <td title="{{att.dossier.prenomEtu}} {{att.dossier.nomEtu}} né le {{att.dossier.dateNaisEtu}}">
	<span>{{att.dossier.nomEtu}}</span>
	<span>{{att.dossier.prenomEtu|slice:":20"}}</span>
      </td>
      <td><span>{{att.dossier.etatDos}}</span></td>
    </tr>
    {% endfor %}

  </table>
</form>


<div class="navigation">
  <span class="step-links">
    {% if attributions.has_previous %}
    <a href="?page=1">&laquo; première</a>
    <a href="?page={{ attributions.previous_page_number }}">précédente</a>
    {% endif %}

    <span class="current">
      Page {{ attributions.number }} / {{ attributions.paginator.num_pages }}.
    </span>

    {% if attributions.has_next %}
    <a href="?page={{ attributions.next_page_number }}">prochaine</a>
    <a href="?page={{ attributions.paginator.num_pages }}">dernière &raquo;</a>
    {% endif %}
  </span>
</div>


<script type="text/javascript">
  jQuery(function($) {
      $('#tattributions').checkboxes('range', true);
  });
</script>


{% endif %}
{% endblock %}

