{% extends "./base.html" %}
{% block titleHead %}  {{title}} {% endblock %}
{% block titleBody %}  Attributions {% endblock %}


{% block content-main %}

{% if attributions|length == 0 %}
Vous n'avez pas d'attributions en cours.

{% else %}

Vos attributions sont: 
<form id="set_attribution" action="{% url 'gedci:attributions' attUser.pk %}" method="post" >
  {% csrf_token %}
  <table class="table table-striped">
    <tr>
      <th>Type d'Attribution</th>
      <th>Dossier</th>
      <th>Etat d'Attribution</th>
      <th>Date Début</th>
      <th>Date Fin</th>
      <!-- <th>Etat du dossier</th> -->
      <!-- <th>Attribué par</th> -->
    </tr>
    {% for att in attributions %}
    <tr>
      <td>{{att.action}}</td>
      <td title="{{att.dossier.prenomEtu}} {{att.dossier.nomEtu}} né(e) le {{att.dossier.dateNaisEtu}}">
      	<a href="https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/protected/cef/CF_VCA/afficherEtudiantPage.html?sctxid=1-b849d01a3e&rechercheRapide=tdue&numeroCompte={{att.dossier.numDos}}"> {{att.dossier.numDos}}</a> ({{att.dossier.nomEtu}})
      </td>
      <td>{{att.etatAtt}}</td>
      <td>{{att.dateCrea}}</td>
      <td>{{att.dateModif}}</td>
    </tr>
    {% endfor %}
  </table>
</form>


<div class="navigation">
  <span class="step-links">
    {% if attributions.has_previous %}
    <a href="?page=1">&laquo; première</a>
    <a href="?page={{ attributions.previous_page_number }}">précédente</a>
    {% endif %}

    <span class="current">
      Page {{ attributions.number }} / {{ attributions.paginator.num_pages }}.
    </span>

    {% if attributions.has_next %}
    <a href="?page={{ attributions.next_page_number }}">prochaine</a>
    <a href="?page={{ attributions.paginator.num_pages }}">dernière &raquo;</a>
    {% endif %}
  </span>
</div>


<script type="text/javascript">
  jQuery(function($) {
      $('#tdossiers').checkboxes('range', true);
  });
</script>

{% endif %}


{% endblock %}

