<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block head %}{% endblock %}
    {% block head-extra %}{% endblock %}
    {% block head-title %}<title>GEDCI</title>{% endblock %}
  </head>
  <body>
    <div class="container-fluid" >
      <div class="row" >
	<div class="col-sm-3" >
	  <div id="sidebar-nav">
            {% block sidebar %}
	    <div id="date-lieu">Abidjan,</br> {% now "l d F, H:i" %}</div>
	    <hr>
	    {% if request.user.is_authenticated %}
	    <div id="welcome_msg">
	      <div id="user">{{request.user}} Akwabao !</div>
	    </div>
	    <div id="base_menu" class="menu">
	      <ul>
		<li><a href="{% url 'gedci:accueil' %}">Accueil</a></li>
		<li><a href="{% url 'logout' %}">Se déconnecter</a></li>
	      </ul>
	    </div>
	    {% block sidebar-menu %}{% endblock %}
	    {% block sidebar-menu-extra %}{% endblock %}
	    {% else %}
	    {% endif %}
            {% endblock %}
	  </div>
	</div>
	<div  class="col-sm-9" >
	  <div id="title">
	    {% block titleBody %}GEDCI pour Campus France Côte d'Ivoire{% endblock %}
	  </div id="title">
	  <hr>
	  <div id="content">
	    <div id="content-header">{% block content-header %}{% endblock %}</div>
	    <div id="content-main">{% block content-main %}{% endblock %}
	      <div id="content-nav">{% block content-navigation %}{% endblock %}</div>
	    </div>
	  </div>
	  <div id="footer">
	    {% block footer %}{% endblock %}
	  </div>
	</div>
      </div>
      <div id="brand">
	Par Tiko Informatique pour Campus France Côte d'Ivoire, 2018
      {% if request.user.is_authenticated %}
	<contact>Contact: <a href="mailto:malik@kone.ci">contact@tiko.ci</a>, téléphone: +225 09 33 73 78</contact>
		    {% endif %}

	</div>
    </div>
  </body>
</html>
