{% extends "./base_conseiller.html" %}
{% load static %}

{% block head-extra %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.checkboxes-1.2.2.min.js' %}"></script>
{% endblock %}

{% block content-navigation%}
{% if dataset.paginator.count != 0 %}
<div class="navigation">
  <span class="step-links">
    {% if dataset.has_previous %}
    <a href="?page=1">&laquo; première</a>
    <a href="?page={{ dataset.previous_page_number }}">précédente</a>
    {% endif %}

    <span class="current">
      Page {{ dataset.number }} / {{ dataset.paginator.num_pages }}.
    </span>

    {% if dataset.has_next %}
    <a href="?page={{ dataset.next_page_number }}">prochaine</a>
    <a href="?page={{ dataset.paginator.num_pages }}">dernière &raquo;</a>
    {% endif %}
  </span>
</div>

{% endif %}
{% endblock%}

{% block footer%}
<script type="text/javascript">
  jQuery(function($) {
      $('#tdossiers').checkboxes('range', true);
  });

  jQuery(function($) {
    $('#select_all').on('click', function(e) {
        $('#tdossiers').checkboxes('toggle');
        e.preventDefault();
    });
  });

</script>
{% endblock %}
