{% extends "./base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cdp.css' %}"></script>
{% endblock %}

{% block sidebar-menu-extra %}
<ul class="menu">
  <li>  <a href="{% url 'gedci:conseillers' 'tous' order acteur.pk %}">Voir TOUS mes attributions.</a></li>
  <li><a href="{% url 'gedci:conseillers' 'encours' order acteur.pk %}">Voir celles EN COURS.</a></li>
    <li><a href="{% url 'gedci:conseillers' 'faite' order acteur.pk %}">Voir celles FAITES.</a></li>
</ul>
{% endblock %}
