{% extends "./base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/cdp.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.checkboxes-1.2.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
{% endblock %}


{% block sidebar-menu %}
<div id="menu-administration" class="menu" >
  <div class="header">Administration</div>
  <ul>
    <li><a href=" {% url 'admin:login' %}">Administration</a></li>
    <li><a href=" {% url 'gedci:importation' %}">Statistiques</a></li>
  </ul>

</div>
<div id="menu-attribution" class="menu" >
  <div class="header">Attributions</div>

  <ul>
    {% for a in acteurs %}
    <li><a href="{% url 'gedci:conseillers2' 'encours' order a.pk %}">{{a}}</a></li>
    {% endfor %}
  </ul>
</div>

<div id="menu-filtre" class="menu" >
  <div class="header">Affichages des dossiers</div>
  <ul>
    {% for filtre in filtres %}
    <li><a href="{% url 'gedci:cdp' filtre order %}">
	{% if filtre == 'tous' %}
	TOUS les dossiers
	{% elif filtre == 'def' %}
	Défavorable
	{% elif filtre == 'favorable' %}
	Favorable
	{% elif filtre == 'ensaisie' %}
	En saisie étudiant
	{% elif filtre == 'entretenu' %}
	Synthèse d'entretien terminée
	{% elif filtre == 'instruit' %}
	Instruction SCAC termniée
	{% elif filtre == 'soumis' %}
	Soumis
	{% elif filtre == 'visa' %}
	Décision Visa renseignée
	{% endif %}
    </a></li>
    {% endfor %}
  </ul>
</div>

{% endblock %}




