{% extends "./base_cdp.html" %}
{% load static %}
{% block titleHead %}  {{title}} {% endblock %}

{% block content-header %}
{% if dataset is None %}
Il n'y a pas de dossiers {{filtre}}
{% else %}
<span>
  {% if filtre == 'tous' %}
  Il y a <b>{{dataset.paginator.count}}</b> dossier{{dataset.paginator.count|pluralize}} en TOUS.
  
  {% else %}
    Il y a <b>{{dataset.paginator.count}}</b>
  dossier(s) {{nom_filtre|upper}}(s)
  {% endif %}
</span>
<span>Mis à jour le {{last_import.dateCrea}}.</span>
{% endif %}

{% endblock %}

{% block content-main %}
<form id="set_attribution" action="{% url 'gedci:cdp' filtre order %}" method="post" >
  {% csrf_token %}
  
  <table id="tdossiers" class="table table-striped">
    <tr>
      <th title="attributions" colspan="2">
	<span>
	  {% if order == "att" %}
	  <a href="{% url 'gedci:cdp' filtre '-att' %}">Trier <span class="upsort">&#x25BC;</span></a>
	  {% elif order == "-att" %}
	  <a href="{% url 'gedci:cdp' filtre 'att' %}">Trier <span class="upsort">&#x25B2;</span></a>
	  {% else %}
	  <a href="{% url 'gedci:cdp' filtre 'att' %}">Trier <span class="upsort">&#x25B2;</span><span class="upsort">&#x25BC;</span></a>
	  {% endif %}
	</span>

	<select id="action" name="action" onchange="maj_liste_acteur(this)">
	  <option value="">---</option>
	  {% for action in actions %}
	  <option value="{{action|lower}}">{{action}}</option>
	  {% endfor %}
	</select>
	
	<select id="acteurs" name="acteurs" class="hide">
	  <option value="">---</option>
	  {% for group in groups_acteurs %}
	  {% for acteur in group.1 %}
	  <option value="acteur-{{acteur.id}}" class="{{group.0.name|lower}} hide">{{acteur.first_name}} {{acteur.last_name}}</option>
	  {% endfor %}
	  {% endfor %}
	</select>
	<button type="submit" id="ok" onclick="exec_attribution(this)">Attribuer</button>
	<button id="select_all">Tous choisir</button>
      </th>

      <th title="trier">      
	{% if order == "doc" %}
	<a href="{% url 'gedci:cdp' filtre '-doc' %}">Dossier <span class="upsort">&#x25BC;</span></a>
	{% elif order == "-doc" %}
	<a href="{% url 'gedci:cdp' filtre 'doc' %}">Dossier <span class="upsort">&#x25B2;</span></a>
	{% else %}
	<a href="{% url 'gedci:cdp' filtre 'doc' %}">Dossier <span class="upsort">&#x25B2;</span><span class="upsort">&#x25BC;</span></a>
	{% endif %}
      </th>

      <th title="trier">      
	{% if order == "typed" %}
	<a href="{% url 'gedci:cdp' filtre '-typed' %}">Type<span class="upsort">&#x25BC;</span></a>
	{% elif order == "-typed" %}
	<a href="{% url 'gedci:cdp' filtre 'typed' %}">Type<span class="upsort">&#x25B2;</span></a>
	{% else %}
	<a href="{% url 'gedci:cdp' filtre 'typed' %}">Type<span class="upsort">&#x25B2;</span><span class="upsort">&#x25BC;</span></a>
	{% endif %}
      </th>

      <th title="trier">      
	{% if order == "nom" %}
	<a href="{% url 'gedci:cdp' filtre '-nom' %}">Nom <span class="upsort">&#x25BC;</span></a>
	{% elif order == "-nom" %}
	<a href="{% url 'gedci:cdp' filtre 'nom' %}">Nom <span class="upsort">&#x25B2;</span></a>
	{% else %}
	<a href="{% url 'gedci:cdp' filtre 'nom' %}">Nom <span class="upsort">&#x25BC;</span><span class="upsort">&#x25B2;</span></a>
	{% endif %}
      </th>

      <th title="trier par nb soumis, puis nb saisies">      
	{% if order == "etat" %}
	<a href="{% url 'gedci:cdp' filtre '-etat' %}">Etat du dossier <span class="upsort">&#x25BC;</span></a>
	{% elif order == "-etat" %}
	<a href="{% url 'gedci:cdp' filtre 'etat' %}">Etat du dossier <span class="upsort">&#x25B2;</span></a>
	{% else %}
	<a href="{% url 'gedci:cdp' filtre 'etat' %}">Etat du dossier <span class="upsort">&#x25BC;</span><span class="upsort">&#x25B2;</span></a>
	{% endif %}
      </th>
      
    </tr>
    <!-- <tbody data-toggle="checkboxes" -->
    <!-- 	   data-range="true"> -->
      {% for datum in dataset %}
      <tr>
	<td>
	  <span>{{forloop.counter}}</span>
	  <input type="checkbox" name="checkbox-{{datum.id}}" value="{{datum.id}}">
	</td>
	<td>
	  <span title="Dernière modification le {{datum.attrib.dateModif}}">{{datum.attrib.action|capfirst}}  {{datum.attrib.etatAtt|lower}} </span> {% if datum.attrib.action is not None %} par {% endif %}
	  <span>{{datum.attrib.acteur}}</span>
	</td>
	<td title="Dossier {{datum.typeDos}}">
      	  <a href="https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/protected/cef/CF_VCA/afficherEtudiantPage.html?sctxid=1-b849d01a3e&rechercheRapide=tdue&numeroCompte={{datum.numDos}}"> {{datum.numDos}}</a>
	</td>
	<td>{{datum.typeDos}}</td>
	<td title="né le {{datum.dateNaisEtu}}, {{datum.nivoAtteint}}">
	  <span>{{datum.nomEtu}}</span>
	  <span> {{datum.prenomEtu|slice:":20" }}</span>
	</td>
	<td title="{{datum.etat}}">
	  <span><a href="{%url 'gedci:etatsdos' datum.id%}">{{datum.etat.etatD}}</a></span><span> (Pai. {{datum.etat.etatP}})</span>
      </tr>
      {% endfor %}
      <!-- </tbody> -->

  </table>
</form>

<div class="navigation">
  <span class="step-links">
    {% if dataset.has_previous %}
    <a href="?page=1">&laquo; première</a>
    <a href="?page={{ dataset.previous_page_number }}">précédente</a>
    {% endif %}

    <span class="current">
      Page {{ dataset.number }} / {{ dataset.paginator.num_pages }}
    </span>

    {% if dataset.has_next %}
    <a href="?page={{ dataset.next_page_number }}">prochaine</a>
    <a href="?page={{ dataset.paginator.num_pages }}">dernière &raquo;</a>
    {% endif %}
  </span>
</div>


<script type="text/javascript">
  jQuery(function($) {
      $('#tdossiers').checkboxes('range', true);
  });

  jQuery(function($) {
    $('#select_all').on('click', function(e) {
        $('#tdossiers').checkboxes('toggle');
        e.preventDefault();
    });
  });
</script>

{% endblock %}


