{% extends "./base_cdp.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cdp.css' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.checkboxes-1.2.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
{% endblock %}


{% block content-header %}
<div id="info-conseiller">
{% if filtre == 'tous' %}
TOUTES les attributions
{% elif filtre == 'encours' %}
Les attributions "EN COURS"
{% elif filtre == 'faite' %}
Les attributions "FAITES"
{% endif %}
de <span id="conseiller">{{acteur}}</span> </br>
<div id="filtre-conseille"><a href="{% url 'gedci:conseillers2' 'tous' order acteurid %}">Voir TOUTES ses attributions</a></span> ; <span><a href="{% url 'gedci:conseillers2' 'encours' order acteurid %}">Voir celles EN COURS uniquement</a></span> ; <span><a href="{% url 'gedci:conseillers2' 'faite' order acteurid %}">Voir celles FAITES uniquement</a></span></div>
</div>
{% endblock %}

{% block content-main %}
<div>
  {% if dataset|length == 0 %}
  <span>{{acteur}} n'a pas d'attributions
    {% if filtre == 'encours' %} en cours.
    {% elif filtre == 'faite' %} faites.
    {% elif filtre == 'tous' %} du tout.
    {% endif %}
  </span>

  {% else %}

  <form id="set_attribution" action="{% url 'gedci:conseillers2' filtre order acteurid %}" method="post" >
    {% csrf_token %}

    <table id="tdossiers" class="table table-striped">
      <tr>
	<th title="trier" colspan="2">    
	  {% if order == "etatAtt" %}
	  <a href="{% url 'gedci:conseillers2' filtre '-etatAtt' acteurid %}">Attribution <span class="upsort">&#x25BC;</span></a>
	  {% elif order == "-etatAtt" %}
	  <a href="{% url 'gedci:conseillers2' filtre 'etatAtt' acteurid %}">Attribution <span class="upsort">&#x25B2;</span></a>
	  {% else %}
	  <a href="{% url 'gedci:conseillers2' filtre 'etatAtt' acteurid %}">Attribution <span class="upsort">&#x25B2;&#x25BC;</span></a>
	  {% endif %}

	  <select id="action" name="action">
	    <option value="">---</option>
	    {% for action in actions %}
	    <option value="{{action.0}}">{{action.1}}</option>
	    {% endfor %}
	  </select>
	  <button type="submit" id="maj">M.à.j.</button>
	  <button id="select_all">Tous choisir</button>
	</th>

	<th>Date mise à jour</th>

	<th title="trier">      
	  {% if order == "doc" %}
	  <a href="{% url 'gedci:conseillers2' filtre '-doc' acteurid %}">Dossier <span class="upsort">&#x25BC;</span></a>
	  {% elif order == "-doc" %}
	  <a href="{% url 'gedci:conseillers2' filtre 'doc' acteurid %}">Dossier<span class="upsort">&#x25B2;</span></a>
	  {% else %}
	  <a href="{% url 'gedci:conseillers2' filtre 'doc' acteurid %}">Dossier<span class="upsort">&#x25B2;</span><span class="upsort">&#x25BC;</span></a>
	  {% endif %}
	</th>

	<th title="trier">      
	  {% if order == "nom" %}
	  <a href="{% url 'gedci:conseillers2' filtre '-nom' acteurid %}">Nom<span class="upsort">&#x25BC;</span></a>
	  {% elif order == "-nom" %}
	  <a href="{% url 'gedci:conseillers2' filtre 'nom' acteurid %}">Nom<span class="upsort">&#x25B2;</span></a>
	  {% else %}
	  <a href="{% url 'gedci:conseillers2' filtre 'nom' acteurid %}">Nom<span class="upsort">&#x25B2;</span><span class="upsort">&#x25BC;</span></a>
	  {% endif %}
	</th>

	<th title="trier par nb soumis, puis nb saisies">      
	  {% if order == "etat" %}
	  <a href="{% url 'gedci:conseillers2' filtre '-etat' acteurid %}">Etat du dossier<span class="upsort">&#x25BC;</span></a>
	  {% elif order == "-etat"%}
	  <a href="{% url 'gedci:conseillers2' filtre 'etat' acteurid %}">Etat du dossier<span class="upsort">&#x25B2;</span></a>
          {% else %}
	  <a href="{% url 'gedci:conseillers2' filtre 'etat' acteurid %}">Etat du dossier<span class="upsort">&#x25B2;</span><span class="upsort">&#x25BC;</span></a>
	  {% endif %}
	</th>
      </tr>
      
      {% for datum in dataset %}
      <tr>
	<td>
	  <span>{{forloop.counter}}</span>
	  <input type="checkbox" name="checkbox-{{datum.id}}" value="{{datum.id}}">
	</td>

	<td>
	  <span title="Dernière modification le {{datum.attrib.dateModif}}">{{datum.attrib.action}} {{datum.attrib.etatAtt}} </span>
	</td>
	{% if datum.attrib.dateCrea != datum.attrib.dateModif %}
	<td title="Attribué le {{datum.attrib.dateCrea}}">{% else %}<td> {% endif %}
	  {{datum.attrib.dateModif}}</td>
	<td title="Dossier {{datum.typeDos}}">
	  <a href="https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/protected/cef/CF_VCA/afficherEtudiantPage.html?sctxid=1-b849d01a3e&rechercheRapide=tdue&numeroCompte={{datum.numDos}}"> {{datum.numDos}}</a>
	</td>
	<td title="{{datum.prenomEtu}} {{datum.nomEtu}} né(e) le {{datum.dateNaisEtu}}. {{datum.nivoAtteint}}">
	  <span>{{datum.nomEtu}}</span>
	  <span> {{datum.prenomEtu|slice:":20" }}</span>
	</td>
	<td title="{{datum.etat}}">
	  <span>Dossier <a href="{%url 'gedci:etatsdos' datum.id%}">{{datum.etat.etatD}}</a></span>
      </tr>
      {% endfor %}
    </table>
  </form>

  <div class="navigation">
    <span class="step-links">
      {% if dataset.has_previous %}
      <a href="?page=1">&laquo; première</a>
      <a href="?page={{ dataset.previous_page_number }}">précédente</a>
      {% endif %}

      <span class="current">
	Page {{ dataset.number }} / {{ dataset.paginator.num_pages }}.
      </span>

      {% if dataset.has_next %}
      <a href="?page={{ dataset.next_page_number }}">prochaine</a>
      <a href="?page={{ dataset.paginator.num_pages }}">dernière &raquo;</a>
      {% endif %}
    </span>
  </div>


  <script type="text/javascript">
    jQuery(function($) {
    $('#tdossiers').checkboxes('range', true);
    });

    jQuery(function($) {
    $('#select_all').on('click', function(e) {
        $('#tdossiers').checkboxes('toggle');
        e.preventDefault();
    });
  });

  </script>

  {% endif %}
</div>
{% endblock %}
