{% extends "./base_conseiller_table.html" %}


{% block content-header %}
{% if dataset|length == 0 %}
<span>Vous n'avez pas d'attributions
  {% if filtre == 'encours' %} EN COURS.
  {% elif filtre == 'faite' %} FAITES.
  {% elif filtre == 'tous' %} DU TOUT.
  {% endif %}
</span>
{% else %}
<span>
  {% if filtre == 'encours' %} Vos attributions EN COURS.
  {% elif filtre == 'faite' %} Vos attributions FAITES.
  {% elif filtre == 'tous' %} TOUTES vos attributions.
  {% endif %}
</span>
{% endif %}
{% endblock %}


{% block content-main %}
{% if dataset.paginator.count != 0 %}
<form id="set_attribution" action="{% url 'gedci:conseillers' filtre order acteur.id %}" method="post" >
  {% csrf_token %}

  <table id="tdossiers" class="table table-striped">
      <tr>
	<th title="trier" colspan="2">    
	  {% if order == "etatAtt" %}
	  <a href="{% url 'gedci:conseillers' filtre '-etatAtt' acteur.id %}">Attribution <span class="upsort">&#x25BC;</span></a>
	  {% elif order == "-etatAtt" %}
	  <a href="{% url 'gedci:conseillers' filtre 'etatAtt' acteur.id %}">Attribution <span class="upsort">&#x25B2;</span></a>
	  {% else %}
	  <a href="{% url 'gedci:conseillers' filtre 'etatAtt' acteur.id %}">Attribution <span class="upsort">&#x25B2;&#x25BC;</span></a>
	  {% endif %}

	  <select id="action" name="action">
	    <option value="">---</option>
	    {% for action in actions %}
	    <option value="{{action.0}}">{{action.1}}</option>
	    {% endfor %}
	  </select>
	  <button type="submit" id="maj">M.à.j.</button>
	  <button id="select_all">Tous choisir</button>

	</th>

	<th>Date mise à jour</th>

	<th title="trier">      
	  {% if order == "doc" %}
	  <a href="{% url 'gedci:conseillers' filtre '-doc' acteur.id %}">Dossier <span class="upsort">&#x25BC;</span></a>
	  {% elif order == "-doc" %}
	  <a href="{% url 'gedci:conseillers' filtre 'doc' acteur.id %}">Dossier<span class="upsort">&#x25B2;</span></a>
	  {% else %}
	  <a href="{% url 'gedci:conseillers' filtre 'doc' acteur.id %}">Dossier<span class="upsort">&#x25B2;</span><span class="upsort">&#x25BC;</span></a>
	  {% endif %}
	</th>

	<th title="trier">      
	  {% if order == "nom" %}
	  <a href="{% url 'gedci:conseillers' filtre '-nom' acteur.id %}">Nom<span class="upsort">&#x25BC;</span></a>
	  {% elif order == "-nom" %}
	  <a href="{% url 'gedci:conseillers' filtre 'nom' acteur.id %}">Nom<span class="upsort">&#x25B2;</span></a>
	  {% else %}
	  <a href="{% url 'gedci:conseillers' filtre 'nom' acteur.id %}">Nom<span class="upsort">&#x25B2;</span><span class="upsort">&#x25BC;</span></a>
	  {% endif %}
	</th>

	<th title="trier par nb soumis, puis nb saisies">      
	  {% if order == "etat" %}
	  <a href="{% url 'gedci:conseillers' filtre '-etat' acteur.id %}">Etat du dossier<span class="upsort">&#x25BC;</span></a>
	  {% elif order == "-etat"%}
	  <a href="{% url 'gedci:conseillers' filtre 'etat' acteur.id %}">Etat du dossier<span class="upsort">&#x25B2;</span></a>
          {% else %}
	  <a href="{% url 'gedci:conseillers' filtre 'etat' acteur.id %}">Etat du dossier<span class="upsort">&#x25B2;</span><span class="upsort">&#x25BC;</span></a>
	  {% endif %}
	</th>
      </tr>

      {% for datum in dataset %}
    <tr>
      <td>
	<span>{{forloop.counter}}</span>
	<input type="checkbox" name="checkbox-{{datum.id}}" value="{{datum.id}}">
      </td>

      <td>
	<span title="Dernière modification le {{datum.attrib.dateModif}}">{{datum.attrib.action|capfirst}} {{datum.attrib.etatAtt}} </span>
      </td>
      
      <td title={% if datum.attrib.dateCrea != datum.attrib.dateModif %}"Attribué le {{datum.attrib.dateCrea}}">{% else %}"">{% endif %}
	Le {{datum.attrib.dateModif|date:"l d M Y"}}
      </td>
      
      <td title="Dossier {{datum.typeDos}}">
	<a href="https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/protected/cef/CF_VCA/afficherEtudiantPage.html?sctxid=1-b849d01a3e&rechercheRapide=tdue&numeroCompte={{datum.numDos}}"> {{datum.numDos}}</a>
      </td>
      <td title="{{datum.prenomEtu}} {{datum.nomEtu}} né(e) le {{datum.dateNaisEtu}}. {{datum.nivoAtteint}}">
	<span>{{datum.nomEtu}}</span>
	<span> {{datum.prenomEtu|slice:":20" }}</span>
      </td>
      <td title="{{datum.etat}}">
	  <span>Dossier <a href="{%url 'gedci:etatsdos' datum.id%}">{{datum.etat.etatD}}</a></span>
    </tr>
    {% endfor %}
  </table>
</form>
{% endif %}
{% endblock %}

