{% extends "./base_cdp.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cdp.css' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content-header %}
États du Dossier  <a href='https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/protected/cef/CF_VCA/afficherEtudiantPage.html?sctxid=1-b849d01a3e&rechercheRapide=tdue&numeroCompte={{doc.numDos|slice:":10"}}'> {{doc.numDos|slice:":10"}}</a> de {{doc.prenomEtu}} {{doc.nomEtu}}.

{% endblock %}

{% block content-main %}
<div id="stats" class="stats">
  <table id="tetatsdoc-{{doc.id}}" class="stats table table-striped">
    <tr>
      <th>Soumission</th>
      <th>Entretien</th>
      <th>Paiement</th>
      <th>Validation du dossier</th>
    </tr>

    {% for datum in dataset %}
    <tr>
      
      <td>{{datum.dateLSoum}}</td>
      <td>
	{{datum.etatR}} ({{datum.dateEnt|default_if_none:"--"}})
      </td>
      <td>
	{{datum.etatP}} ({{datePai|default_if_none:"--"}})
      </td>
      <td>
	{{datum.etatD}} ({{datum.dateVDos|default_if_none:"--"}})
      </td>
    </tr>
    {% endfor %}
  </table>
</div>


<div class="navigation">
  <span class="step-links">
    {% if dataset.has_previous %}
    <a href="?page=1">&laquo; première</a>
    <a href="?page={{ dataset.previous_page_number }}">précédente</a>
    {% endif %}

    <span class="current">
      Page {{ dataset.number }} / {{ dataset.paginator.num_pages }}.
    </span>

    {% if dataset.has_next %}
    <a href="?page={{ dataset.next_page_number }}">prochaine</a>
    <a href="?page={{ dataset.paginator.num_pages }}">dernière &raquo;</a>
    {% endif %}
  </span>
</div>
</div>
{% endblock %}
