{% extends "./base_conseiller_table.html" %}
{% load static %}


{% block content-header %}
<div>  États du Dossier  <a href="https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/protected/cef/CF_VCA/afficherEtudiantPage.html?sctxid=1-b849d01a3e&rechercheRapide=tdue&numeroCompte={{doc.numDos}}"> {{doc.numDos}}</a> de {{doc.prenomEtu}} {{doc.nomEtu}}.
</div>
{% endblock %}

{% block content-main %}

<div id="stats" class="stats">
  <table id="tetatsdoc-{{doc.id}}" class="stats table table-striped">
    <tr>
      <th>Soumission</th>
      <th>Entretien</th>
      <th>Paiement</th>
      <th>Validation du dossier</th>
    </tr>

    {% for datum in dataset %}
    <tr>
      <td>{{datum.dateLSoum|date:"l d F"}}</td>
      <td>
	{{datum.etatR}} ({{datum.dateEnt|default_if_none:"--"}})
      </td>
      <td>
	{{datum.etatP}} ({{datePai|default_if_none:"--"}})
      </td>
      <td>
	{{datum.etatD}} ({{datum.dateVDos|default_if_none:"--"}})
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

