{% extends "./base.html" %}
{% block titleHead %}  {{title}} {% endblock %}
{% block titleBody %}  Attributions {% endblock %}


{% block content-main %}

{% if attributions is null %}
Vous n'avez pas de dossiers attibués.
{% else %}
Attributions de {{attUser}}

<table class="table table-striped">
  <tr>
    <th>Action</th>
    <th>Dossier</th>
    <th>État</th>
    <th>Attribué par</th>
  </tr>
  {% for att in attributions %}
  <tr>
    <td>{{att.action}}</td>
    <td>{{att.dossier}}</td>
    <td>{{att.etatAtt}}</td>
    <td>{{att.auteur}}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}

{% endblock %}

