{% extends "./table_conseillers.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cdp.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.checkboxes-1.2.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
{% endblock %}


