{% extends "./base_cdp.html" %}
{% block titleHead %}  {{title}} {% endblock %}


{% block content-head %}
Mise à jour du : <b>{{importation.dateCrea }}</b>
{% endblock %}
{% block content-main %}
<table>
  <tr><th>nom fichier import</th> <td>{{importation.nom_fichier_import}}</td></tr>
  <tr><th>date fichier import</th> <td>{{importation.date_fichier_import}}</td></tr>
  <tr><th>nb dossiers</th> <td>{{importation.nb_dossiers}}</td></tr>
  <tr><th>nb nouveaux docs</th> <td>{{importation.nb_nouveaux_docs}}</td></tr>
  <tr><th>nb updated docs</th> <td>{{importation.nb_updated_docs}}</td></tr>
  <tr><th>nb paiements valides</th> <td>{{importation.nb_paiements_valides}}</td></tr>
  <tr><th>nb visa renseignes</th> <td>{{importation.nb_visa_renseignes}}</td></tr>
  <tr><th>nb scac instruit</th> <td>{{importation.nb_scac_instruit}}</td></tr>
  <tr><th>nb favorables</th> <td>{{importation.nb_favorables}}</td></tr>
  <tr><th>nb defavorables</th> <td>{{importation.nb_defavorables}}</td></tr>
  <tr><th>nb entretenus2</th> <td>{{importation.nb_entretenus2}}</td></tr>
  <tr><th>nb soumissions</th> <td>{{importation.nb_s_oumissions}}</td></tr>
  <tr><th>nb validations</th> <td>{{importation.nb_validations}}</td></tr>
  <tr><th>nb entretiens autorises</th> <td>{{importation.nb_ntretiens_autorises}}</td></tr>
  <tr><th>nb entretiens valides</th> <td>{{importation.nb_entretiens_valides}}</td></tr>
  <tr><th>nb entretiens demandes</th> <td>{{importation.nb_entretiens_demandes}}</td></tr>
  <tr><th>nb entretiens planifie</th> <td>{{importation.nb_entretiens_planifie}}</td></tr>
  <tr><th>nb entretiens annules</th> <td>{{importation.nb_entretiens_annules}}</td></tr>
</table>

<div class = "navigation">
{% if importation.precedente.pk %}
<label>Importation du {{importation.precedente.dateCrea}}</label><a href="{% url 'gedci:importation' importation.precedente.pk %}" >Voir les statistiques</a>

  {% else %}
Il n'y a pas d'importations plus anciennes.

  {% endif %}
</div>

{% endblock %}


