{% extends "./base_cdp.html" %}


{% block content-main %}
<div class="navigation">
  <span class="step-links">

    {% if dataset.has_next %}
    <a href="?page={{ dataset.paginator.num_pages }}">&laquo; Première </a>
    <a href="?page={{ dataset.next_page_number }}">Précédente. </a>

    {% endif %}

    <span class="current">
      Mise à jour {{ dataset.number }} / {{ dataset.paginator.num_pages }}.
    </span>
    {% if dataset.has_previous %}
    <a href="?page={{ dataset.previous_page_number }}">Prochaine</a>
    <a href="?page=1">Dernière &raquo;</a>
    {% endif %}
  </span>
</div>


<div id="stat-import">
  {% for datum in dataset %}
  <div>
      <h3>Mise à jour du {{datum.date_fichier_import|date:"l d F Y"}}</h3>
  <div class="stat-elt"><label>nombre de DOSSIERS TOTAL</label> {{datum.nb_dossiers}}</div>
  <div class="stat-elt"><label>nombre de NOUVEAUX DOSSIERS</label> {{datum.nb_nouveaux_docs}}</div>
  <div class="stat-elt"><label>nombre de DOSSIERS MIS À JOUR</label> {{datum.nb_updated_docs}}</div>
  <div class="stat-elt"><label>nombre de SOUMISSIONS</label> {{datum.nb_soumissions}}</div>
  <div class="stat-elt"><label>nombre de SYNTHÈSE D'ENTRETIEN TERMINÉE</label> {{datum.nb_entretenus2}}</div>
  <div class="stat-elt"><label>nombre de ENTRETIENS AUTORISÉS</label> {{datum.nb_entretiens_autorises}}</div>
  <div class="stat-elt"><label>nombre de ENTRETIENS DEMANDÉS</label> {{datum.nb_entretiens_demandes}}</div>
  <div class="stat-elt"><label>nombre de ENTRETIENS VALIDÉS</label> {{datum.nb_entretiens_valides}}</div>
  <div class="stat-elt"><label>nombre de ENTRETIENS planifiés</label> {{datum.nb_entretiens_planifie}}</div>
  <div class="stat-elt"><label>nombre de ENTRETIENS ANNULES</label> {{datum.nb_entretiens_annules}}</div>
  <div class="stat-elt"><label>nombre d' AVIS FAVORABLES</label> {{datum.nb_favorables}}</div>
  <div class="stat-elt"><label>nombre d' AVIS DEFAVORABLES</label> {{datum.nb_defavorables}}</div>
  <div class="stat-elt"><label>nombre de DÉCISION VISA RENSEIGNÉE</label> {{datum.nb_visa_renseignes}}</div>
  <div class="stat-elt"><label>nombre d'INSTRUCTIONS SCAC TERMINÉES</label> {{datum.nb_scac_instruit}}</div>
  <div class="stat-elt"><label>nombre de PAIEMENTS VALIDÉS</label> {{datum.nb_paiements_valides}}</div>
  </div>
  {% endfor %}
</div>




<script type="text/javascript">
  jQuery(function($) {
      $('#tdossiers').checkboxes('range', true);
  });
</script>

{% endblock %}
