{% extends "./base_cdp.html" %}
{% block titleHead %}  {{title}} {% endblock %}
{% block titleBody %}  Statistiques générales {% endblock %}
{% block content-main %}

{% for d in imports %}
<li><label>{{d.0}} : </label>   {{d.1}} </li>
{% endfor %}
  </ul>
</div>
{% endblock %}
