{% load static %}
ma liste
<ul>
  {% for dossier in liste_dossiers %}
  <li><a href="{% url 'gedci:table' %}">{{ dossier.numdossier }}</a></li>
  {% endfor %}
</ul>
<p>Pas de dossiers en ce moment.</p>

