{% extends "./base.html" %}
{% load static %}

{% block titleHead %}  {{title}} {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cdp.css' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.checkboxes-1.2.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
{% endblock %}

{% block sidebar-menu %}
{% endblock %}

{% block content-main %}
<div>
  Historique des états du Dossier {{doc}} de {{doc.nomEtu}} {{doc.prenomEtu}}.
  Statisiques {{doc_stats}}
    <table id="tetatsdoc" class="table table-striped">
      <tr>
	<th>Soumission</th>
	<th>Entretien</th>
	<th>Paiement</th>
	<th>Validation du dossier</th>
      </tr>
      
      {% for etd in etatsDoc %}
      <tr>
	<th>{{etd.dateLSoum}}</th>
	<th>
	  {{etd.dateEnt|default_if_none:"--"}}
	  {{etd.etatR}}
	</th>
	<th>
	  {{datePai|default_if_none:"--"}}
	  {{etd.etatP}}
	</th>
	<th>
	  {{etd.dateVDos|default_if_none:"--"}}
	  {{etd.etatD}}
	</th>
      </tr>
      {% endfor %}
    </table>
  </form>

{% endbock %}

{% block content-navigation %}
<div class="navigation">
    <span class="step-links">
      {% if etatsDoc.has_previous %}
      <a href="?page=1">&laquo; première</a>
      <a href="?page={{ etatsDoc.previous_page_number }}">précédente</a>
      {% endif %}

      <span class="current">
	Page {{ etatsDoc.number }} / {{ etatsDoc.paginator.num_pages }}.
      </span>

      {% if etatsDoc.has_next %}
      <a href="?page={{ etatsDoc.next_page_number }}">prochaine</a>
      <a href="?page={{ etatsDoc.paginator.num_pages }}">dernière &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
  jQuery(function($) {
      $('#tdossiers').checkboxes('range', true);
  });
</script>
{% endblock %}

