#sidebar-nav{
    width: 400px;
    background-color: #56BABE;
}

#date-lieu{
    padding-top: 10px;
    padding-left: 20px;
}
#user{
    padding-top: 10px;
    padding-left: 20px;
}

li a{
    color: #eee;
    text-decoration-line: none;
    font-size: 18px;
}
li a:hover{
    color: #004c99;
}

h1{
    text-align: center;
}

#content-header{
    font-size: 20px;
}
th{
    background-color:#004c99; 
}
#ok{
   background-color: #DDDDDD; 
}

.niveau{
    background-color: #DDDDDD;
}

th a{
    color: #f5dd5d;
    text-decoration-line: none;
    font-weight: bold; 
    font-size: 20px;
}
td a{
    color: #007bff;
    text-decoration-line: none;
}