div#content{
    width:50%;
    maring:auto;
}

.col-sidebar{
    border:solid;
    float: left;
    width: 20%;
    margin: 1em;
}

.col-main {
    display: block;
    border: solid green;
    padding: 1em;
    margin: 1em;
    widht: 75%;
    float: left;
}

#title{
    /* display:block; */
    /* float:left; */
    font-size:2em;
    font-weight:bold;
    margin-bottom:1em;
    width:80%;
    margin-left:auto;
}


input[type='checkbox'] {
    -webkit-appearance:none;
    width:1.5em;
    height:1.5em;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}


span{
    display:float;
}

body {
    background-image: url("/static/img/gradient_bleu.jpeg");
}

