/* **************** Page conseiller 2 **************** */

#info-conseiller{
    font-size:16px;
}

#info-conseiller a{
    color:#216b7c;
    font-weight:500;
    text-decoration-line: none;
}

#info-conseiller a:hover{
    color:#25778a;
    text-decoration-line: underline;
}

#conseiller{
    font-weight:600;
}
/* **************** page Tableau **************** */
table th {
    vertical-align:middle!important;
}

#content-header{
    font-size: 18px;
    margin: 5px 5px 10px 5px;
}

#tdossiers,
.stats .table{
    font-size: 12px;
    background: lightgray;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color:#25778a;
}

td span{
    vertical-align: inherit;
}

button[type=submit]{
    width: 100px;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 5px;
    display:block;
    font-size:large;
    display: inline-grid;
    margin: 0 .5em 0 .5em;
}

.table-striped tbody tr:hover{
    /* background-color: #83cfcb!important; */
    background-color: #a6e0c8!important;
}

th select{
    width: 100px;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 2px;
    display:block;
    font-size:normal;
    display: inline-grid;
    margin: 0 .5em 0 .5em;
}

th {
    padding:.25em;
    background-color:#25778a;
    color: #f5dd5d;
    text-decoration-line: none;
    font-weight: bold; 
    font-size: 14px;

}

th a{
    color: #f5dd5d;
    text-decoration-line: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

th a:hover{
    color: #f5dd5d;
    /* font-weight: bold;  */
    /* font-size: 16px; */
}

/* **************** Dao **************** */

h1{
    text-align: center;
}

#content-header{
    font-size: 20px;
}

/* **************** Side bar **************** */

#date-lieu{
    background-color: #9fbaf4;
    margin: 1em;
    border-radius: 30px;
    padding:.5em .5em .5em 0;

    text-align: center;
    font-size: 18px;
    /* padding:1em 1em 1em 0; */
}

#user{
    font-weight: 500;
    font-size: large;
    margin: 0 1em 1em 1em;
}

div#sidebar-nav{
    font-size: 16px;
    background-color: #25778a;
    border-radius: 30px;
    border-width: 0px;
    font-weight: 400;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 10px;
}

div#sidebar-nav .menu{ 
    border: solid #216b7c 2px;
    margin: 1em;
    padding: .25em .5em .75em .5em;
    border-radius: 10px;
    font-size: 16px;
    
}

div#sidebar-nav .header{
    font-weight: 500;
    /* text-align: center; */
    color:    #e1e8b2;
    font-size: 18px;
}

div#sidebar-nav li a{
    color:#f5dd5d;
    text-decoration-line: none;
    font-size: 18px;
    font-weight:400;
}

div#sidebar-nav li a:hover{
    color:#f5dd5d;
    text-decoration-line: underline;
}

div#sidebar-nav li{
    width:90%;
    background-color:#278496;
    list-style-type: none;
    padding: .5em;
    text-align: center;
    margin: .5em auto 0em auto;
}

div#sidebar-nav li:hover{
    background-color: #216b7c;
    padding: .5em;
    text-align: center;
    width:90%;
    margin: .5em 0em 0em auto;
}

div#sidebar-nav ul{
    padding-inline-start: 1em;
    padding-inline-end: 0em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

/* **************** ACCUEIL **************** */

/* #date-lieu{ */
/*     font-size: 16px; */
/*     background-color: lightgray; */
/*     background-color: darkcyan; */
/*     border-radius: 30px; */
/*     border-width: 0px; */
/*     font-weight: 400; */
/*     margin: 5px 5px 5px 5px; */
/*     padding: 2px 5px 2px 10px; */
/* } */

#id_username,

#id_password{
    width:180px;
}

table{
    margin-bottom:2em;
}

label{
    font-weight:bold;
    margin-right:1em;
}

input[type=submit]{
    width: 100px;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 5px;
    display:block;
    font-size:large;
}

input[type=submit]:hover{
    width: 100px;
    border-style: solid;
    border-color:#f5dd5d;
    border-radius: 5px;
    display:block;
    font-size:large;
    margin-left: 10px;
}

/* #content-main{ */
/*     /\* background-color: #EEE; *\/ */
/*     padding: 1em 1em 1em 1em; */
/*     border-radius: 20px; */
/*     border-width: 2px; */
/*     border-style: solid; */
/*     border-color: aqua; */
/* } */
/* **************** **************** */
.col-sidebar{
    border:solid;
    float: left;
    width: 20%;
    margin: 1em;
}

.col-main {
    display: block;
    border: solid green;
    padding: 1em;
    margin: 1em;
    widht: 75%;
    float: left;
}

#title{
    font-size:2em;
    font-weight:bold;
    margin-bottom:1em;
    width:80%;
    margin-left:auto;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:1.5em;
    height:1.5em;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

input[type='checkbox']:checked {
    background: #25778a;
}

span{
    display:float;
}

body {
    /* #a7ddc5 #147183 */
    /* background-image: linear-gradient(#147183, #a7ddc5, #147183) */
    /* background-image: linear-gradient(#a7ddc5, #147183, #a7ddc5); */
    background-image: url("/static/img/gradient_bleu.jpeg");
    /* radial-gradient(#a7ddc5, #147183, #a7ddc5);  */
    background-image: url(/static/img/fond2.jpg);
    background-size: cover;x
}

/* **************** Main **************** */
div#content-main{
    background: #25778a;
    border-radius: 10px;
}

/* **************** Footer **************** */
div#brand{ 
    text-align: center;
    margin: 2em auto 2em auto;
    font-size:small;
}

/* **************** Navigation **************** */
.navigation{
    text-align: center;
    padding-bottom: 1em;
    color: white;
    font-size: 16px;
}

.step-links a{
    color: #f5dd5d;
    margin: 0 .5em 0 .5em;
}

.step-links a:hover{
    color: #f5dd5d;
    margin: 0 .5em 0 .5em;
}

/* **************** Stat import **************** */
#stat-import{
    margin: 0 50px 50px 50px;
    background: #9fbaf4;
    padding: 2em;

}

/* **************** loggin loggout **************** */
#loggin{
    padding: 2em;
}

#logout-inner,
#login-inner{
    border: solid 1px #a3bef6;
    border-radius: 20px;
    padding: 1em;
}

#logout-container,
#login-container{
    padding: 2em;
}

div#logout-menu li{
    width:80%;
    background-color:#278496;
    list-style-type: none;
    padding: .25em;
    text-align: center;
    margin: .25em 10% 0em 10%;
    border-radius:10px;
}

div#logout-menu li:hover{
    background-color: #216b7c;
    padding: .25em;
    /* text-align: center; */
    margin: .25em 9% 0em 11%;
    border-radius:10px;
}

div#logout-menu ul{
    padding-inline-start: 1em;
    padding-inline-end: 0em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}



