{% extends "gedci/base.html" %}


{% block sidebar %}
<div id="logout-menu">
<ul>
  <li><a href="{% url 'login' %}">Se connecter</a></li>
</ul>
</div>
{% endblock %}


{% block content-header %}
<h2>Vous vous êtes déconnecté.</h2>
{% endblock %}

{% block content-main %}
<div id="logout-container">
  <div id="logout-inner">
    <div>GEDCI vous remercie de votre visite.</div>
    <div> À bientôt.</div>
  </div>
</div>
{% endblock %}
