{% extends "gedci/base.html" %}

{% block content-header %}
<h2>Se connecter</h2>
{% endblock %}

{% block content-main %}
{% if form.errors %}
<p>Votre login et votre mot de passe ne collent pas.  Essayez encore.</p>
{% endif %}

<div id="login-container">
<div id="login-inner">
  
  {% if next %}
  {% if user.is_authenticated %}
  <p>Ce compte n'a pas accès à cette page.  Essayer avec un autre compte utilisateur.</p>
  {% else %}
  <p>Vous devez vous authentifier pour voir cette page.</p>
  {% endif %}
  {% endif %}
  <form method="post" class="login" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
	<td>{{ form.username.label_tag }}</td>
	<td>{{ form.username }}</td>
      </tr>
      <tr>
	<td>{{ form.password.label_tag }}</td>
	<td>{{ form.password }}</td>
      </tr>
    </table>

    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</div>
</div>
{% endblock %}
