{% extends "gedci/base.html" %}

{% block content-main %}
<h2>Profil</h2>

{% if next %}
{% if user.is_authenticated %}

<p>Bienvenu {{user.full_name}}</p>

Le détail de votre profil sera bientôt mis à jour.
{% else %}

<p>Vous devez vous authentifier pour voir cette page.</p>

{% endif %}
{% endif %}

{% endblock %}
